h1{
 
    margin-top:15px;
    color:rgb(107, 128, 117);
  }
  .authorInfo{
    width: 100%;
    height: auto;
    /* background-color: brown; */
    display: flex;
  }
  .authorInfo img{
    width: 100px;
    height: 100px;
    border-radius: 100%;

    margin:50px;
  }
  .descriptionCircuit{
    height: auto;
  }
  .authorInfo h4{
    margin:80px;
  }